{% extends "basic.html" %}
{% block title %}Вопрос {{ question.id }}{% endblock %}
{% block content %}
<div id="question_card">
    <form action="{% url 'vote' question.id %}" method="post">
        {% csrf_token %}
        <div id="question_description">
            <img src="{{ question.img.url }}" alt="img" width="150" height="150">
            <div style="width:150px;height:150px;">
                <h2>{{ question.question_text }}</h2><br>
                <p>Описание:</p>
                <p>{{ question.description }}</p><br>
                <p>Опубликованно: </p>
                <p style="font-size: 12px;">{{question.pub_date}}</p>
            </div>
        </div>

        {% if error_message %}<p><strong> {{error_message}}</strong></p>{% endif %}
        <div id="choices_div">
            {% for choice in question.choice_set.all %}
            <div>
                <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
                <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label><br>
            </div>

            {% endfor %}

        </div>
        <input type="submit" value="Vote" style="width: 150px;">
    </form>
</div>
{% endblock %}